@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins), sans-serif;
}

.toast-font {
  font-family: var(--font-inter), sans-serif;
}

.subtle-shadow:hover {
  -webkit-box-shadow: 0px 7px 54px 7px rgba(207, 207, 207, 1) !important;
  -moz-box-shadow: 0px 7px 54px 7px rgba(207, 207, 207, 1) !important;
  box-shadow: 0px 7px 54px 7px rgba(207, 207, 207, 1) !important;
}

body,
html {
  height: 100% !important;
  width: 100%;
}

.rhombus-shape {
  position: relative;
  /* Mask image instead of clip-path */
  -webkit-mask-image: url("/assets/rhombus.svg");
  mask-image: url("/assets/rhombus.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
}

/* .rhombus-shape::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: -1;
} */

.swiper-wrapper {
  max-width: 600px !important;
  display: flex !important;
  justify-items: center !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #6a42ff !important; /* Change this to your preferred color */
}

@media (max-width: 640px) {
  /* Tailwind 'sm' breakpoint */
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 25px !important; /* Hide arrows */
  }

  .swiper-button-prev::after {
    margin-left: -33px;
  }

  .swiper-button-next::after {
    margin-right: -33px;
  }
}

.upload-area {
  border-radius: 12px;
  text-align: center;
  background-color: transparent;
  position: relative;
}

.upload-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23B0A3FF' stroke-width='2' stroke-dasharray='6, 9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  pointer-events: none;
  z-index: 1;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

::-webkit-scrollbar-thumb {
  background: #d1d5db; /* Light gray color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; /* Slightly darker gray on hover */
}

